Recommendation-System-Using-Neural-Collaborative-Filtering
In this project the aim is to recommend a user movies based on their previous rating on movies which was watched by the user

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies=pd.read_csv("movie.csv")
ratings=pd.read_csv("rating.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.shape

(27278, 3)

In [5]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
ratings.shape

(20000263, 4)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [8]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [9]:
ratings = ratings[0:110000]
movies = movies[0:110000]

In [10]:
# from the rating dataset will retrieve all the unique usersid
user_ids = ratings['userId'].unique().tolist()
user2user = {x: i for i, x in enumerate(user_ids)}  #---> crestes dictionary 
userencodeduser = {i: x for i, x in enumerate(user_ids)}  #---> crestes dictionary  with indexes

In [11]:
ratings.shape

(110000, 4)

In [12]:
movie_ids=ratings['movieId'].unique().tolist()
movie2movie = {x: i for i, x in enumerate(movie_ids)}
movieencodemovie = {i: x for i, x in enumerate(movie_ids)}

In [13]:
movies.shape

(27278, 3)

In [14]:
#Mapping the two tables 
ratings['user'] = ratings['userId'].map(user2user)
ratings['movie'] = ratings['movieId'].map(movie2movie)

In [15]:
ratings.head()

   userId  movieId  rating            timestamp  user  movie
0       1        2     3.5  2005-04-02 23:53:47     0      0
1       1       29     3.5  2005-04-02 23:31:16     0      1
2       1       32     3.5  2005-04-02 23:33:39     0      2
3       1       47     3.5  2005-04-02 23:32:07     0      3
4       1       50     3.5  2005-04-02 23:29:40     0      4

In [16]:
# FINDING THE MINIMUM AND MAXIMUM RATING 
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])

In [17]:
print(min_rating)
print(max_rating)

0.5
5.0

In [18]:
# FINDING THE MINIMUM AND MAXIMUM RATINGs GIVEN BY THE USERS
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])
num_users = len(user2user)
num_movies = len(movie2movie)
ratings['rating'] = ratings['rating'].values.astype(np.float32)
print("Number of users : {}, Number of Movies: {}, Min rating: {},Max rating: {}".format(num_users,num_movies,min_rating,
                                                                                         max_rating))

Number of users : 751, Number of Movies: 8864, Min rating: 0.5,Max rating: 5.0

In [19]:
# Train-Test Split
ratings = ratings.sample(frac = 1, random_state = 1) #randomly sample the dataset
x = ratings[['user','movie']].values
# Normalize the target between 0 and 1
y = ratings['rating'].apply(lambda x: (x - min_rating)/ (max_rating - min_rating)).values

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=0)

In [21]:
x_train.shape

(99000, 2)

In [22]:
y_train.shape

(99000,)

In [23]:
from tensorflow.keras.models import Sequential,Model
from tensorflow.keras.layers import *
from tensorflow.keras import layers
from tensorflow import keras

In [24]:
# Defining the model
embed_size = 50 #embedding size we need
user_input = layers.Input(shape = [1])
user_embed = layers.Embedding(num_users,embed_size,embeddings_initializer ="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(user_input)
# Emedding Layer will create 610 vectors look-up table of 50 dimension each
user_vect = layers.Flatten()(user_embed)

movie_input = layers.Input(shape = [1])
movie_embed = layers.Embedding(num_movies,embed_size,embeddings_initializer ="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(movie_input)
movie_vect = layers.Flatten()(movie_embed)

prod = layers.dot(inputs = [user_vect, movie_vect], axes = 1)

dense1 = layers.Dense(150,activation='relu', kernel_initializer="he_normal")(prod)
dense2 = layers.Dense(64,activation='relu', kernel_initializer="he_normal")(dense1)
dense3 = layers.Dense(1,activation='relu')(dense2)

In [25]:
# BUILDING OUR MODEL
model = Model([user_input, movie_input], dense3)

In [26]:
# COMPILING THE MODEL
model.compile(optimizer = 'adam',loss = 'mean_squared_error')

In [30]:
%%time
history = model.fit([x_train[:,0],x_train[:,1]], y_train, batch_size = 32, epochs = 10, verbose = 1) 
# here we will be sending user_id and movie_id as inputs

Epoch 1/10
3094/3094 [==============================] - 51s 16ms/step - loss: 0.4231
Epoch 2/10
3094/3094 [==============================] - 48s 15ms/step - loss: 0.0549
Epoch 3/10
3094/3094 [==============================] - 50s 16ms/step - loss: 0.0467
Epoch 4/10
3094/3094 [==============================] - 49s 16ms/step - loss: 0.0373
Epoch 5/10
3094/3094 [==============================] - 50s 16ms/step - loss: 0.0323
Epoch 6/10
3094/3094 [==============================] - 51s 17ms/step - loss: 0.0280
Epoch 7/10
3094/3094 [==============================] - 48s 16ms/step - loss: 0.0257
Epoch 8/10
3094/3094 [==============================] - 45s 14ms/step - loss: 0.0237
Epoch 9/10
3094/3094 [==============================] - 45s 15ms/step - loss: 0.0223
Epoch 10/10
3094/3094 [==============================] - 45s 15ms/step - loss: 0.0213
CPU times: total: 17min 31s
Wall time: 8min 1s

In [31]:
prediction = model.evaluate([x_test[:,0],x_test[:,1]])

344/344 [==============================] - 1s 3ms/step - loss: 0.0035

In [32]:
pred = model.predict([x_train[4:5,0],x_train[4:5,1]])
pred

1/1 [==============================] - 0s 142ms/step

array([[0.67353195]], dtype=float32)

In [33]:
movies.shape

(27278, 3)

# getting 1 random user id and recommending that user top 10 movies based on that user ratings and the movies watched by him

In [34]:

user_id = ratings.userId.sample(1).iloc[0]  # getting 1 random user id
movies_watched_by_user = ratings[ratings.userId == user_id] #filtering out the movies watched by user
movies_not_watched = movies[~movies["movieId"].isin(movies_watched_by_user.movieId.values)]["movieId"] #getting the movies which are not watched by the user

In [35]:
user_id

739

In [36]:
movies_watched_by_user.head()

        userId  movieId  rating            timestamp  user  movie
106180     739    31410     3.0  2009-03-31 21:31:00   738   1278
105932     739      165     4.0  2009-04-27 14:52:37   738    367
106274     739    62437     3.0  2009-03-28 14:05:58   738   7660
106207     739    48780     5.0  2010-04-05 14:10:23   738   2833
106061     739     2355     3.0  2008-06-28 17:04:02   738    739

In [37]:
movies_not_watched

2             3
3             4
4             5
6             7
7             8
          ...
27273    131254
27274    131256
27275    131258
27276    131260
27277    131262
Name: movieId, Length: 26787, dtype: int64

In [38]:
#this is an innerjoin between movies_not_watched and movie ids from rating table (to check whether the movie ids are not out of place)
movies_not_watched = list( set(movies_not_watched).intersection(set(movie2movie.keys())))

In [39]:
movies_not_watched

[32770,
 3,
 4,
 5,
 65538,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 65567,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 65577,
 48,
 65585,
 49,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 32853,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 65642,
 109,
 112,
 113,
 114,
 32882,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 124,
 125,
 126,
 129,
 130,
 131,
 132,
 32898,
 134,
 135,
 136,
 139,
 140,
 141,
 144,
 65682,
 147,
 146,
 149,
 148,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 162,
 163,
 164,
 166,
 168,
 169,
 170,
 171,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 32954,
 193,
 194,
 195,
 196,
 198,
 199,
 200,
 201,
 203,
 205,
 206,
 207,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 32988,
 220,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 232,
 233,
 234,
 235,
 236,
 237,
 33004,
 239,
 238,
 241,
 242,
 243,
 240,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 98552,
 254,
 255,
 256,
 257,
 258,
 259,
 261,
 262,
 263,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 65813,
 285,
 286,
 287,
 289,
 290,
 291,
 292,
 294,
 295,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 33072,
 312,
 313,
 314,
 315,
 33085,
 317,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 330,
 331,
 332,
 333,
 334,
 65868,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 335,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 33126,
 365,
 366,
 65894,
 368,
 369,
 33136,
 371,
 372,
 373,
 374,
 375,
 376,
 33145,
 378,
 379,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 33158,
 393,
 33162,
 394,
 396,
 397,
 392,
 33164,
 402,
 33171,
 405,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 33193,
 430,
 432,
 433,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 481,
 482,
 483,
 484,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 98797,
 495,
 496,
 497,
 498,
 499,
 501,
 502,
 504,
 98809,
 505,
 507,
 508,
 509,
 510,
 511,
 512,
 506,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 540,
 542,
 543,
 544,
 33312,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 556,
 558,
 559,
 66097,
 562,
 563,
 564,
 561,
 565,
 567,
 568,
 569,
 570,
 566,
 573,
 574,
 575,
 577,
 580,
 581,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 33358,
 591,
 594,
 595,
 596,
 66130,
 598,
 599,
 33363,
 601,
 602,
 603,
 605,
 606,
 33376,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 621,
 626,
 627,
 628,
 630,
 631,
 632,
 634,
 635,
 637,
 638,
 639,
 640,
 641,
 33410,
 645,
 647,
 649,
 650,
 652,
 656,
 98961,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 33437,
 670,
 671,
 66203,
 673,
 674,
 678,
 680,
 681,
 685,
 33454,
 687,
 688,
 691,
 692,
 694,
 695,
 696,
 697,
 698,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 99007,
 713,
 714,
 715,
 717,
 718,
 719,
 720,
 721,
 722,
 724,
 725,
 726,
 33495,
 728,
 731,
 33499,
 732,
 735,
 737,
 742,
 743,
 745,
 746,
 747,
 748,
 750,
 751,
 752,
 753,
 754,
 757,
 758,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 767,
 66304,
 769,
 771,
 779,
 781,
 782,
 783,
 66320,
 785,
 787,
 788,
 33558,
 790,
 793,
 33564,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 99112,
 809,
 99114,
 810,
 808,
 813,
 33585,
 818,
 820,
 824,
 33592,
 828,
 829,
 830,
 833,
 66371,
 836,
 837,
 838,
 839,
 840,
 835,
 842,
 841,
 844,
 845,
 99149,
 33615,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 66385,
 33621,
 855,
 860,
 861,
 862,
 866,
 867,
 869,
 870,
 33639,
 872,
 875,
 876,
 877,
 33646,
 879,
 880,
 881,
 33644,
 33649,
 884,
 885,
 886,
 887,
 888,
 889,
 891,
 892,
 893,
 66427,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 33679,
 912,
 911,
 914,
 915,
 916,
 913,
 918,
 917,
 920,
 921,
 922,
 923,
 33683,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 975,
 976,
 980,
 981,
 982,
 984,
 986,
 987,
 988,
 990,
 991,
 992,
 993,
 994,
 996,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 66581,
 1046,
 33815,
 1049,
 1050,
 1051,
 33819,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 33823,
 33830,
 1063,
 1064,
 1065,
 1066,
 33834,
 33836,
 1068,
 1069,
 33838,
 1073,
 1076,
 1077,
 1078,
 1079,
 99380,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1102,
 1103,
 1104,
 1105,
 1107,
 1111,
 1112,
 1113,
 1114,
 33880,
 1116,
 1117,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 99437,
 33896,
 33903,
 1136,
 1135,
 1137,
 1138,
 1144,
 1147,
 1148,
 1150,
 1151,
 1152,
 1154,
 1161,
 1162,
 1163,
 1164,
 33930,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 ...]

In [40]:
max(movies_not_watched)

128594

In [41]:
movies_not_watched_index = [[movie2movie.get(x)] for x in movies_not_watched] # get the indexes of the movies not watched by the user which we will use later for recommending
movies_not_watched_index

[[6365],
 [175],
 [1994],
 [1044],
 [6679],
 [420],
 [1965],
 [1677],
 [365],
 [386],
 [2614],
 [4834],
 [1187],
 [429],
 [387],
 [1469],
 [1678],
 [1646],
 [1679],
 [228],
 [681],
 [3537],
 [3816],
 [2021],
 [1],
 [3163],
 [1647],
 [3836],
 [1045],
 [3809],
 [1046],
 [7844],
 [3553],
 [631],
 [3538],
 [2123],
 [1680],
 [2074],
 [1681],
 [1867],
 [1682],
 [8862],
 [632],
 [3947],
 [7031],
 [8381],
 [421],
 [4837],
 [1311],
 [8382],
 [1683],
 [1868],
 [3164],
 [388],
 [1312],
 [176],
 [2615],
 [2050],
 [688],
 [3505],
 [1313],
 [1884],
 [1396],
 [177],
 [4838],
 [4149],
 [1470],
 [1314],
 [3554],
 [1315],
 [4977],
 [2124],
 [1316],
 [5579],
 [2616],
 [3165],
 [3166],
 [3167],
 [1995],
 [1317],
 [3555],
 [1318],
 [1471],
 [3902],
 [8293],
 [1319],
 [1684],
 [2075],
 [1047],
 [3533],
 [2723],
 [3539],
 [1320],
 [1321],
 [2051],
 [5580],
 [389],
 [431],
 [2988],
 [1885],
 [6480],
 [8383],
 [5],
 [4180],
 [2125],
 [6079],
 [3540],
 [4115],
 [3534],
 [3168],
 [3169],
 [432],
 [3170],
 [2126],
 [2052],
 [4853],
 [4181],
 [5361],
 [4182],
 [1685],
 [8294],
 [6705],
 [422],
 [5736],
 [5920],
 [390],
 [391],
 [2053],
 [1812],
 [1686],
 [4839],
 [2127],
 [7405],
 [6],
 [4183],
 [633],
 [1996],
 [1966],
 [2054],
 [1687],
 [690],
 [1688],
 [229],
 [1663],
 [1472],
 [1689],
 [3171],
 [635],
 [3556],
 [691],
 [2055],
 [2821],
 [231],
 [2056],
 [1473],
 [4116],
 [1690],
 [2386],
 [1886],
 [4139],
 [4184],
 [4117],
 [637],
 [1230],
 [3172],
 [1474],
 [4185],
 [2407],
 [1691],
 [7740],
 [2517],
 [2057],
 [1967],
 [232],
 [1475],
 [3173],
 [4840],
 [4186],
 [1887],
 [3123],
 [2058],
 [638],
 [3174],
 [4887],
 [3175],
 [3557],
 [1674],
 [5737],
 [2088],
 [1476],
 [5376],
 [1693],
 [4841],
 [6366],
 [7347],
 [1968],
 [7],
 [393],
 [1050],
 [8384],
 [3124],
 [5558],
 [2128],
 [2076],
 [1438],
 [1694],
 [1695],
 [394],
 [641],
 [1696],
 [1772],
 [1888],
 [4842],
 [1969],
 [179],
 [4843],
 [4888],
 [3176],
 [1188],
 [1869],
 [1697],
 [1698],
 [1699],
 [4187],
 [433],
 [7096],
 [4188],
 [1700],
 [692],
 [2703],
 [4824],
 [3514],
 [1648],
 [1335],
 [2129],
 [1731],
 [180],
 [1701],
 [3177],
 [4028],
 [4140],
 [434],
 [1702],
 [1661],
 [1703],
 [2059],
 [435],
 [642],
 [3125],
 [1970],
 [1704],
 [3178],
 [395],
 [7996],
 [8386],
 [693],
 [4189],
 [1889],
 [3179],
 [3180],
 [644],
 [1705],
 [1477],
 [4029],
 [8318],
 [2130],
 [1051],
 [5733],
 [3810],
 [1397],
 [3515],
 [2060],
 [2208],
 [2077],
 [2089],
 [2131],
 [6080],
 [1706],
 [4844],
 [1057],
 [1052],
 [907],
 [1053],
 [1336],
 [4190],
 [3526],
 [1337],
 [4191],
 [2822],
 [1189],
 [2518],
 [1707],
 [2617],
 [5921],
 [2618],
 [1708],
 [2132],
 [7316],
 [4886],
 [13],
 [645],
 [436],
 [1709],
 [6706],
 [1439],
 [4825],
 [8043],
 [1870],
 [4978],
 [1440],
 [437],
 [647],
 [368],
 [438],
 [1710],
 [648],
 [4030],
 [439],
 [440],
 [1398],
 [5332],
 [2061],
 [2408],
 [441],
 [4979],
 [6824],
 [1711],
 [2387],
 [8193],
 [370],
 [2078],
 [2548],
 [1712],
 [649],
 [2079],
 [1713],
 [8044],
 [397],
 [4975],
 [1971],
 [2209],
 [650],
 [1714],
 [1231],
 [694],
 [2133],
 [5393],
 [3181],
 [3182],
 [2580],
 [3183],
 [5378],
 [5497],
 [3558],
 [2746],
 [4192],
 [4193],
 [4194],
 [5738],
 [7601],
 [7406],
 [5263],
 [695],
 [2519],
 [2989],
 [4031],
 [696],
 [4195],
 [2080],
 [1715],
 [3559],
 [1716],
 [1717],
 [1675],
 [4889],
 [2619],
 [4826],
 [3903],
 [1478],
 [3560],
 [442],
 [1232],
 [2409],
 [1649],
 [2620],
 [7024],
 [8387],
 [1054],
 [2062],
 [1055],
 [4196],
 [1479],
 [3561],
 [235],
 [697],
 [236],
 [2590],
 [4890],
 [2063],
 [1997],
 [3184],
 [2410],
 [3185],
 [1480],
 [4197],
 [1058],
 [4198],
 [376],
 [1718],
 [4032],
 [1972],
 [4199],
 [4845],
 [4980],
 [8388],
 [2103],
 [1719],
 [4981],
 [1720],
 [1973],
 [1059],
 [181],
 [7142],
 [1060],
 [2134],
 [2621],
 [1056],
 [398],
 [3186],
 [1676],
 [4200],
 [1399],
 [1721],
 [1722],
 [4982],
 [3562],
 [3187],
 [3563],
 [2135],
 [377],
 [238],
 [399],
 [3188],
 [1441],
 [7210],
 [3189],
 [5734],
 [1061],
 [3190],
 [4201],
 [1974],
 [1724],
 [4033],
 [1858],
 [3564],
 [2635],
 [401],
 [443],
 [3516],
 [3565],
 [239],
 [3811],
 [1481],
 [402],
 [1725],
 [2210],
 [4034],
 [378],
 [379],
 [3191],
 [2724],
 [4983],
 [1482],
 [4035],
 [3192],
 [4846],
 [403],
 [380],
 [1662],
 [1726],
 [1062],
 [1442],
 [4891],
 [1727],
 [1998],
 [1975],
 [1728],
 [1483],
 [1400],
 [5154],
 [698],
 [3193],
 [381],
 [2136],
 [653],
 [654],
 [655],
 [445],
 [3194],
 [4984],
 [3566],
 [7111],
 [4004],
 [1338],
 [3195],
 [4202],
 [5377],
 [7541],
 [3196],
 [4985],
 [3106],
 [2137],
 [8045],
 [2138],
 [3951],
 [1729],
 [7461],
 [4203],
 [2211],
 [2139],
 [5739],
 [1048],
 [382],
 [404],
 [405],
 [406],
 [2512],
 [7503],
 [383],
 [407],
 [384],
 [2073],
 [4986],
 [3197],
 [6081],
 [2140],
 [3198],
 [4204],
 [4205],
 [2622],
 [7602],
 [1322],
 [240],
 [699],
 [2212],
 [1976],
 [5631],
 [3199],
 [700],
 [5581],
 [4206],
 [3541],
 [3200],
 [5740],
 [2064],
 [424],
 [5924],
 [409],
 [3201],
 [7369],
 [3904],
 [1323],
 [3535],
 [3905],
 [2213],
 [4854],
 [7741],
 [3202],
 [1484],
 [5741],
 [3542],
 [6877],
 [1324],
 [5220],
 [4207],
 [6613],
 [7879],
 [1325],
 [1485],
 [1486],
 [4208],
 [4892],
 [6231],
 [4209],
 [3812],
 [3822],
 [3203],
 [411],
 [5359],
 [701],
 [447],
 [1443],
 [3121],
 [5573],
 [3204],
 [7950],
 [4210],
 [1890],
 [4128],
 [2704],
 [1326],
 [2214],
 [5379],
 [4036],
 [4211],
 [3205],
 [5742],
 [3206],
 [5380],
 [4118],
 [2141],
 [4212],
 [1327],
 [412],
 [3567],
 [1328],
 [1730],
 [5668],
 [4213],
 [2388],
 [2845],
 [8197],
 [241],
 [425],
 [413],
 [6232],
 [2142],
 [1329],
 [1330],
 [3543],
 [3793],
 [1063],
 [2623],
 [3924],
 [5743],
 [2624],
 [3568],
 [2065],
 [426],
 [1064],
 [6614],
 [2625],
 [2215],
 [448],
 [6233],
 [4987],
 [4214],
 [3817],
 [6234],
 [6914],
 [6707],
 [1339],
 [703],
 [427],
 [4037],
 [3569],
 [2143],
 [3207],
 [7392],
 [8326],
 [7439],
 [4215],
 [3544],
 [3570],
 [1065],
 [4852],
 [1331],
 [5744],
 [243],
 [6082],
 [8389],
 [3208],
 [8215],
 [3545],
 [2216],
 [2217],
 [2081],
 [4085],
 [428],
 [3209],
 [5922],
 [1487],
 [449],
 [3210],
 [3080],
 [3571],
 [3081],
 [3572],
 [5923],
 [3573],
 [910],
 [2626],
 [3211],
 [3813],
 [4948],
 [705],
 [2627],
 [1233],
 [2066],
 [5372],
 [2218],
 [2144],
 [1066],
 [2628],
 [3574],
 [5703],
 [2629],
 [7080],
 [6915],
 [7458],
 [8024],
 [1773],
 [2145],
 [2085],
 [2146],
 [3212],
 [450],
 [3546],
 [4988],
 [6162],
 [7173],
 [7409],
 [4893],
 [1488],
 [2679],
 [1444],
 [3575],
 [3213],
 [4216],
 [2048],
 [4894],
 [3576],
 [3577],
 [3214],
 [1774],
 [3578],
 [451],
 [2630],
 [6367],
 [6368],
 [8047],
 [2219],
 [2636],
 [6916],
 [6936],
 [7880],
 [183],
 [3215],
 [3216],
 [6448],
 [3217],
 [2581],
 [1067],
 [452],
 [3218],
 [3219],
 [1068],
 [2016],
 [245],
 [246],
 [3220],
 [3221],
 [184],
 [2680],
 [1069],
 [912],
 [453],
 [1070],
 [454],
 [1190],
 [1191],
 [1999],
 [3107],
 [3517],
 [455],
 [2220],
 [456],
 [1341],
 [6370],
 [4217],
 [2037],
 [1071],
 [457],
 [3222],
 [2699],
 [3223],
 [458],
 [2823],
 [1192],
 [3224],
 [3225],
 [3226],
 [3227],
 [3228],
 [2384],
 [3229],
 [3230],
 [3231],
 [3232],
 [2824],
 [3233],
 [3234],
 [3235],
 [2700],
 [2411],
 [1072],
 [459],
 [247],
 [1073],
 [1074],
 [3236],
 [3237],
 [6615],
 [3238],
 [6616],
 [3239],
 [3240],
 [2412],
 [3241],
 [7917],
 [248],
 [682],
 [4119],
 [2883],
 [7918],
 [3242],
 [8390],
 [2582],
 [7504],
 [5717],
 [3243],
 [3244],
 [2000],
 [4218],
 [7501],
 [2631],
 [1489],
 [4126],
 [8138],
 [2147],
 [3579],
 [4127],
 [2104],
 [4120],
 [8048],
 [2221],
 [3536],
 [2222],
 [4219],
 [4220],
 [5947],
 [21],
 [1075],
 [4221],
 [3245],
 [1076],
 [3246],
 [1490],
 [3797],
 [460],
 [4222],
 [1891],
 [461],
 [3841],
 [1077],
 [1078],
 [5465],
 [2223],
 [7919],
 [1664],
 [416],
 [706],
 [3510],
 [3116],
 [707],
 [3511],
 [3247],
 [417],
 [249],
 [4223],
 [7522],
 [7459],
 [2148],
 [418],
 [2067],
 [8391],
 [7795],
 [708],
 [5498],
 [2224],
 [2149],
 [3547],
 [5155],
 [3248],
 [1342],
 [4224],
 [3249],
 [1958],
 [2150],
 [1445],
 [250],
 [7951],
 [5844],
 [3250],
 [709],
 [6617],
 [3251],
 [3794],
 [5352],
 [5985],
 [6618],
 [6826],
 [251],
 [3252],
 [252],
 [1871],
 [23],
 [8313],
 [2225],
 [2226],
 [3253],
 [253],
 [5669],
 [2413],
 [1957],
 [2105],
 [1492],
 [710],
 [254],
 [462],
 [2151],
 [27],
 [3254],
 [2637],
 [7505],
 [255],
 [2414],
 [3548],
 [5333],
 [1446],
 [3122],
 [2227],
 [2152],
 [3853],
 [3255],
 [5745],
 [1493],
 [185],
 [5477],
 [2153],
 [256],
 [1193],
 [257],
 [2228],
 [258],
 [2229],
 [1665],
 [2154],
 [5906],
 [7514],
 [1924],
 [28],
 [2230],
 [4895],
 [5746],
 [5747],
 [1494],
 [1079],
 [2082],
 [7926],
 [8222],
 [7920],
 [2083],
 [5381],
 [4989],
 [3814],
 [7603],
 [4225],
 [711],
 [712],
 [8392],
 [3256],
 [1666],
 [2231],
 [3257],
 [2155],
 [3258],
 [1080],
 [3259],
 [259],
 [3260],
 [7506],
 [464],
 [4990],
 [2156],
 [2232],
 [2157],
 [260],
 [2158],
 [3261],
 ...]

In [42]:
user_encoder = userencodeduser.get(user_id)
user_encoder

740

In [43]:
# Stacking the userid with respect to the movie not watched by the user 
user_movie_array = np.hstack(([[user_encoder]] * len(movies_not_watched), movies_not_watched_index))
user_movie_array

array([[ 740, 6365],
       [ 740,  175],
       [ 740, 1994],
       ...,
       [ 740, 1027],
       [ 740, 5391],
       [ 740, 6532]])

In [44]:
# we will do the prediction of the user 387 and predicting the rating which the user may give based on his previous history of rating
ratings = model.predict([user_movie_array[:,0],user_movie_array[:,1]]).flatten()
ratings

262/262 [==============================] - 1s 2ms/step

array([0.5030095 , 0.39254472, 0.5625954 , ..., 0.66785014, 0.33443445,
       0.34200513], dtype=float32)

In [45]:
top_ratings_indices = ratings.argsort()[-10:][::-1] #indices of highest 10 ratings

In [46]:
# getting the id of movies which our model has predicted for the particular user
recommended_movie_ids = [movieencodemovie.get(movies_not_watched_index[x][0]) for x in top_ratings_indices]

In [48]:
print("Showing recommendations for user: {}".format(user_id))
print("====" * 9)
print("Movies with high ratings from user")
print("----" * 8)
top_movies_user = (
    movies_watched_by_user.sort_values(by="rating", ascending=False)
    .head(5)
    .movieId.values
)
movie_df_rows = movies[movies["movieId"].isin(top_movies_user)]
for row in movie_df_rows.itertuples():
    print(row.title, ":", row.genres)

Showing recommendations for user: 739
====================================
Movies with high ratings from user
--------------------------------
Godfather, The (1972) : Crime|Drama
Training Day (2001) : Crime|Drama|Thriller
Insomnia (2002) : Action|Crime|Drama|Mystery|Thriller
3-Iron (Bin-jip) (2004) : Drama|Romance
Juno (2007) : Comedy|Drama|Romance

In [49]:
print("----" * 8)
print("Top 10 movie recommendations")
print("----" * 8)
recommended_movies = movies[movies["movieId"].isin(recommended_movie_ids)]
for row in recommended_movies.itertuples():
    print(row.title, ":", row.genres)

--------------------------------
Top 10 movie recommendations
--------------------------------
Searching for Bobby Fischer (1993) : Drama
Apartment, The (1960) : Comedy|Drama|Romance
On Golden Pond (1981) : Drama
Lady Vanishes, The (1938) : Drama|Mystery|Thriller
Key Largo (1948) : Crime|Drama|Film-Noir|Thriller
One-Eyed Jacks (1961) : Western
Swimming Pool (2003) : Drama|Mystery|Thriller
Pink Panther Strikes Again, The (1976) : Comedy|Crime
Murder on the Orient Express (1974) : Crime|Mystery|Thriller
Old Boy (2003) : Mystery|Thriller